@import url(header.css);
@import url(poster.css);
@import url(product.css);
@import url(footer.css);

.contain{
    margin: 0 20%;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

input {
    padding: 0.5rem;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.227);
    border-radius: 3px;
}

button:active, button:focus {
    font-weight: bold;
}

body{
    margin:0;
}