.square {
    width: 50%;
}
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.cyan {
    background-color: cyan;
}

.pink {
    background-color: pink;
}